html,
body {
    margin: 0;
    padding: 0;
}

a{
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('https://samuel-dd07.github.io/questionnaire-issho-partners/GlacialIndifference-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: GlacialIndifference, sans-serif;
}

.button-start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-start > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d244f;
    color: white;
    border-radius: 20px;
    padding: 1.5vw;
    font-size: 1.5vmin;
    width: 250px;
    height: 50px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 1s ease;
}

.button-start > button:hover{
    border: 1px solid rgb(99, 178, 231);
    background-color: aliceblue;
    background-color: #3b74de;
    transition: background-color 1s ease;
}

.container-issho {
    bottom: 0;
    margin: 5% 20% 10vh;
    white-space: pre-line;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.container-issho>h1 {
    text-align: center;
    font-size: 2.5vmin;
    padding: 5%;
    font-weight: 700;
}

.container-issho>h3 {
    color: rgb(111, 111, 111);
    font-weight: 500;
    font-size: 2vmin;
}

.container-issho div > div, .container-issho div > a {
    display: none;
    margin-top: 1vw;
    padding: 1vw;
    border-radius: 20px;
    font-size: 1.5vmin;
    font-weight: 500;
    max-width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.issho,
.moi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 1s;
    animation: translate 1s ease;
}

.moi {
    display: flex;
    align-items: flex-end;
}

.moi>div, .moi>a {
    background-color: #0d244f;
    color: white;
}

.moi>.selection {
    cursor: pointer;
    background-color: #134093;
    transition: background-color 1s;
}

.moi>.selection:hover, .moi>a:hover{
    border: 1px solid rgb(99, 178, 231);
    background-color: aliceblue;
    background-color: #3b74de;
    transition: background-color 1s;
}

.issho::before {
    content: "issho";
    font-weight: 500;
    font-size: 2vmin;
}

.moi::before {
    content: "Moi";
    font-weight: 500;
    font-size: 2vmin;
}

@keyframes translate {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}