:root{
    --temps: 0s
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.container-issho{
    margin: 0 20%;
    white-space: pre-line;
}

.container-issho h3{
    color: gray;
    font-weight: 500;
}

.container-issho div > div{
    display: none;
    margin-top: 2vw;
    padding: 2%;
    border-radius: 20px;
    font-size: 2vmin;
    font-weight: 500;
    max-width: 25vw;
    transition: 1s transform;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.issho, .moi{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.moi{
    display: flex;
    align-items: flex-end;
}

.moi > div{
    background-color: rgb(56, 101, 131);
    border: 1px solid 33, 97, 140;
    color: white;
}

.moi > .selection{
    cursor: pointer;
    background-color: rgb(99, 178, 231);
    transition: 1s all;
}

.moi > .selection:hover{
    border : 1px solid rgb(99, 178, 231);
    background-color: aliceblue;
    color: rgb(99, 178, 231);
    transition: 1s all;
}

.issho::before{
    content: "issho";
    font-weight: 500;
    font-size: 2vmin;
}

.moi::before{
    content: "Moi";
    font-weight: 500;
    font-size: 2vmin;
}

@keyframes translate{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}